@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.content {
    padding: 24px 112px;
}

.main {
    padding: 0 32px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .content {
        padding: 0px;
    }


    .main {
        padding: 0 16px;
    }
}